@forward "./base";
@forward "../components";

.btn-table-primary {
    background-color: #362AB2;
    color: #fff;

    &:hover {
        background-color: #3e2f8b !important;
    }
}

.btn-table-secondary {
    background-color: #fff;
    color: #362AB2;


}