.sidebar {
  width: 275px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 100%;
  overflow: hidden;
  transition: all 0.2s ease-out;
  // background: #fff;

  .sidebar-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    color: #000;
    user-select: none;
    font-size: 25px;
    height: 64px;
    padding: 25px 36px;
    // border-bottom: 1px solid rgba(128, 128, 128, 0.12);
  }

  .sidebar-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .sidebar-nav-items {
      height: 100%;
      overflow-y: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.collapse {
  width: 100px;
  transition: all 0.2s ease-out;
}

@media only screen and (max-width: 1024px) {
  .sidebar {
    background-color: white;
    border-radius: 0 12px 12px 0;

    .sidebar-logo-container {
      border-radius: 0 10px 0 0;
    }

    .sidebar-content {
      border-radius: 0 0 10px 0;
    }
  }
}